@font-face {
    font-family: SpaceAge;
    src: url(fonts/space\ age.ttf);
}

@font-face {
    font-family: Zabal;
    src: url(fonts/ZabalDEMO-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background: #d5d5d5;
}



nav#navigation{
    width: 100%;
    height:80px;
    background: rgba(0, 0, 0, 0.493);
    display: grid;
    grid-template-columns: auto auto auto;
}

.logo{
    /* background-color: #343434; */
}
.myLogo{
    width: 50px;
    height: 50px;
    /* background-color: #ddd; */
    
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 15px;
    padding-top: 2px;
    

}

.logoSymbol{
    font-family: SpaceAge;
    font-size: 45px;
    color: #fff;
    text-align: center;
}

div.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links ul li{
    margin-left: 40px;
    
}
 a{
    text-decoration: none;
    color: #fff;
    font-family: 'Zabal',sans-serif;
    font-size: 17px;
    
}

.firstBtn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.firstBtn button{
    margin-right: 15px;
    width: 80px;
    height: 35px;
    background-color:#00d8c9;
    outline: none;
    border: none;
    border-radius: 5px;
}
.firstBtn button .secondBtn {
    text-align: center;
    color: #000;
    font-size: 17px;
}

/* Section homePage */
    div#homePage{
        width: 100%;
        height: 570px;
        position: absolute;
        top: 5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }

    div.homePage-container-one{
        width: 600px;
        height: 400px;
        background: rgba(255,255,255,.1);
        border-radius: 20px;
        border-left: 2px solid rgba(255,255,255,.5);
        border-top: 2px solid rgba(255,255,255,.5);
        box-shadow: 10px 10px 30px rgba(27,26,26,.5);
        backdrop-filter: blur(5px);
        transition: .9s ease-in-out;
        overflow: hidden;
        position: relative;
    }

    div.homePage-container-one:hover{
        top: -10px;
        transition: .5s ease;
    }

    div.homePage-container-one::before{
        content: "";
        width: 300px;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-color: rgba(255,255,255,.5);
        z-index: 1;
        transition: .8s ease-out;
        transform: skewX(45deg) translateX(800px);
    }
    div.homePage-container-one:hover::before{
        transform: skewX(45deg) translateX(-650px);
    }

    h1.homePage-container-one-heading{
        text-align: center;
        font-family: 'Zabal',sans-serif;
        color: #fff;
        line-height: 10rem;
        background-color: #00d8c9;
        
    }
    div.homePage-container-one > .message{
        position: relative;
        top: 40px;
        font-size: 15px;
        font-family: 'Zabal',sans-serif;
        color: #3e3e3e;
        text-align: center;
        line-height: 20px;
        margin-bottom: 30px;
        
    }

    div.homePage-container-one > .message > span{
        font-family: 'SpaceAge',sans-serif;
        font-size: 28px;
        padding-left: 8px;
    }

    div.two{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.homePage-container-one-img > img{
        width: 300px;
        height: 300px;
    }
    /* Main */
    main{
        position: relative;
        top: -13rem;
        z-index: -2000;
    }
  /* Second Section */
    section.project{
        width: 100%;
        height: 100vh;
        /* background-image: url(./images/art-1478833_1920.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        /* filter: blur(-30px); */
        display: flex;
        justify-content: center;
       
    }
       
    .project-container{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .project-container-title{
        width: 200px;
        text-align: center;
        
    }
    .project-container-title >h1{
          position: relative;
          top: 15rem;
          color: #00d8c9;
          font-size: 30px;
          font-family: 'Zabal',sans-serif;
          text-transform:uppercase;
          font-weight: 600;
          padding-top: 10px;
          transform: rotate(-90deg);
          
          
    }
    .box-box-box{
        width: 250px;
        
        display: grid;
        justify-content: center;
        position: relative;
        /* background: #000; */
        
          
        
       
        
    }
    .box-box{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* background-color: #696969; */
        overflow: hidden;
       
    }

    .boxes{
        width: 200px;
        height: 150px;
        background-color: rgba(27,26,26,.5);
        margin-bottom: 20px;
        border-radius: 20px;
        animation:  8s container ease-in-out infinite;
        
    }

 
@keyframes container {
    0%, 20% {
      transform: translateY(-20rem);
    }
    25%, 45% {
        transform: translateY(-13rem);
    }
    50%, 70% {
      transform: translateY(-26rem);
    }
    75%, 95% {
      transform: translateY(-39rem);
    }
    100% {
      transform: translateY(-52rem);
    }
  
  }
  
   
    /* SVG */
     .svgies{
        position: relative;
        top: -.9rem;
     }

  .thirdContainer{
        width: 600px;
        height: 400px;
        background-color: rgba(27,26,26,.5);
        position: absolute;
        left: 40rem;
        top: 10rem;
        border-radius: 20px;
    } 

    
    /* .thirdContainer-two{
        width: 600px;
        height: 400px;
        background-color: #f1f1f1;
        position: absolute;
        left: 40rem;
        top: 90rem;
        border-radius: 20px;
    } */

/* Footer */
footer{
    width: 100%;
    height: 100px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > h2{
    color: #fff;
    padding: 20px 20px 0;
    font-size: 20px;
    font-family: 'Zabal', sans-serif;
    letter-spacing: .5px;
}

footer > h3{
    color:#696969;
    padding-top: 20px;
    font-family: 'SpaceAge', sans-serif;
    font-size: 25px;
    text-align: center;
    
}